[Desktop Entry]
Encoding=UTF-8
Name=AQM
Comment=AQM
Icon=gnome-info
Exec=sh /home/admin/aqm_show.sh
Terminal=false
Type=Application
Categories=

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=20